In [6]:
import pandas as pd

url_option = "https://public.fyers.in/sym_details/NSE_FO.csv"
url_equity = "https://public.fyers.in/sym_details/NSE_CM.csv"

df_option = pd.read_csv(url_equity, header=None)
df_option

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,10100000001,GOLDSTAR POWER LIMITED,0,11250,0.05,INE405Y01021,0915-1530|1815-1915:,2024-07-19,NaN,NSE:GOLDSTAR-SM,...,10,1,GOLDSTAR,1,-1.0,XX,10100000001,NaN,0,0.0
1,1010000000100,AMARA RAJA ENERGY MOB LTD,0,1,0.05,INE885A01032,0915-1530|1815-1915:,2024-07-19,NaN,NSE:ARE&M-EQ,...,10,100,ARE&M,100,-1.0,XX,1010000000100,NaN,1,1.0
2,10100000001000,SDL MH 6.56% 2032,5,100,0.01,IN2220200306,0915-1530|1815-1915:,2024-07-19,NaN,NSE:656MH32-SG,...,10,1000,656MH32,1000,-1.0,XX,10100000001000,NaN,0,0.0
3,10100000001001,SEC RED NCD 9.40% SR. V,2,1,0.01,INE721A07NX5,0915-1530|1815-1915:,2024-07-19,NaN,NSE:94SFL28-YL,...,10,1001,94SFL28,1001,-1.0,XX,10100000001001,NaN,0,0.0
4,10100000001004,SDL AP 6.79% 2034,5,100,0.01,IN1020200466,0915-1530|1815-1915:,2024-07-19,NaN,NSE:679AP34-SG,...,10,1004,679AP34,1004,-1.0,XX,10100000001004,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6899,1010000000999059,NIFTY500MULTICAP-INDEX,10,1,0.05,NaN,0915-1530|1815-1915:,NaN,NaN,NSE:NIFTY500MULTICAP-INDEX,...,10,999059,NIFTY500 MULTICAP,999059,-1.0,XX,1010000000999059,NaN,0,0.0
6900,1010000000999060,NIFTYLARGEMID250-INDEX,10,1,0.05,NaN,0915-1530|1815-1915:,NaN,NaN,NSE:NIFTYLARGEMID250-INDEX,...,10,999060,NIFTY LARGEMID250,999060,-1.0,XX,1010000000999060,NaN,0,0.0
6901,1010000000999062,NIFTYTOTALMKT-INDEX,10,1,0.05,NaN,0915-1530|1815-1915:,NaN,NaN,NSE:NIFTYTOTALMKT-INDEX,...,10,999062,NIFTY TOTAL MKT,999062,-1.0,XX,1010000000999062,NaN,0,0.0
6902,1010000000999063,NIFTYMICROCAP250-INDEX,10,1,0.05,NaN,0915-1530|1815-1915:,NaN,NaN,NSE:NIFTYMICROCAP250-INDEX,...,10,999063,NIFTY MICROCAP250,999063,-1.0,XX,1010000000999063,NaN,0,0.0
6903,1010000000999064,NIFTYINDDIGITAL-INDEX,10,1,0.05,NaN,0915-1530|1815-1915:,NaN,NaN,NSE:NIFTYINDDIGITAL-INDEX,...,10,999064,NIFTY IND DIGITAL,999064,-1.0,XX,1010000000999064,NaN,0,0.0

In [ ]:
df_option = df_option[[]]